---
import BaseHead from '../components/BaseHead';
import BlogHeader from '../components/BlogHeader';

export interface Props {
    title: string;
    description: string;
    image?: string;
    permalink?: string;
};
const { title, description, image, permalink } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead
            title={title}
            description={description}
            image={image}
            permalink={permalink} />
    </head>
    <body>
        <div class="container max-w-4xl px-4 mx-auto">
            <BlogHeader />
            <div class="py-8 sm:py-16 sm:px-12">
                <main class="">
                    <slot />
                </main>
                <footer class="flex items-center justify-center mb-4 mt-52">
                    <p class="text-sm font-bold text-center text-gray-500">© Lloyd Atkinson {new Date().getFullYear()}</p>
                </footer>
            </div>
        </div>
    </body>
</html>